<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- LINK -->

    <!-- style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>


</head>
<body>
    <!-- ROOT -->
    <div id="root">

        <!-- main container -->
        <main class="main-container">

            <!-- interface container -->
            <div class="interface-main-container">

                <!-- LEFT SIDE -->
                <div class="left-side-interface">

                    <!-- left side header -->
                    <header class="left-side">

                        <!-- user info -->
                        <div class="user-info">
                            <img src="img/avatar_io.jpg" alt="account img user">
                            <span>Sofia</span>
                        </div>

                        <!-- icons -->
                        <div class="header-icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>

                    <!-- notifications section -->
                    <div class="left-notificatio-section">
                        <i class="fas fa-bell-slash"></i>
                        <div>
                            <p class="receive-new-message">Ricevi notifiche di nuovi messagi</p>
                            <p class="set-active-notification"> <a href="">Attiva notifiche desktop</a></p>
                        </div>
                    </div>

                    <!-- searchbar left -->
                    <div class="left-search-bar">
                        <div class="searchContainer">
                            <i class="fa fa-search searchIcon"></i>
                            <input 
                            class="searchBox" 
                            type="search" 
                            name="search" 
                            placeholder="Cerca o inizia una nuova chat"
                            v-model="searchUser"
                            @keyup='searchUserFilterRun'>
                        </div>
                    </div>

                    <!-- contact list  -->
                    <div :class="{'contact--active' : contactCardActive === index }" v-for="(contact, index) in contacts" v-if="contact.visible">
                    
                            <div class="contact-card" @click="selectedUserCard(index)" >
                                <div class="contact-card__avatar">
                                    <img :src="`img/avatar` + contact.avatar + `.jpg`" :alt="contact.name">
                                </div>
                                
                                <div class="contact-text" >
                                    <div class="contact-info">
                                        <h5>{{ contact.name }}</h5>
                                        <p class="contact-metadata" >12.00</p>
                                    </div>
                                    <small class="last-message-sent">Ultimo messaggio inviato</small>
                                </div>
                                
                            </div>
                        

                    </div>
                </div>

                <!-- RIGHT SIDE -->
                <div class="right-side-interface">
                    <header class="right-side">

                        <!-- right header user info -->
                        <div class="active-chat-info">
                            <img :src="`img/avatar` + contacts[contactCardActive].avatar + `.jpg`" alt="account img user">
                            <div class="user-image-data">
                                <p class="user-name">{{contacts[contactCardActive].name}}</p> 
                                <p class="user-data">Ultimo accesso oggi alle 12.00</p>
                            </div>    
                        </div>

                        <!-- right header icons -->
                        <div class="active-chat-icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>

                    <!-- CHAT SECTION -->

                    <div class="message-ReS-container">

                        <div class="message-container" v-for="msg in contacts[contactCardActive].messages">
                            <!-- message text -->
                            <div :class="msg.status == 'sent' ? 'message-sent' : 'message-receive'">
                                <div class="message-wrap">
                                    <p class="text-message">{{ msg.message }}</p>
                                    <div class="text-message-metadata">
                                       <span>{{ msg.date }}</span> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- footer right section -->
                    <footer class="right-side">
                        <!-- icon -->
                        <i class="far fa-smile"></i>
                        <!-- searchbar -->
                        <div class="searchContainer">
                            <input 
                            class="searchBox" 
                            type="search" 
                            name="search" 
                            placeholder="Scrivi un messaggio"
                            v-model="newMessageInput"
                            @keyup.enter="displayNewMessage">
                        </div>
                        <!-- icon -->
                        <i class="fas fa-microphone"></i>
                    </footer>    
                </div>
                
            </div>
        </main>

    </div>
    <script src="js/script.js" type="text/javascript"></script>
</body>
</html>